@charset "UTF-8";
	
	header {
	display: flex;
	justify-content: space-between;
	padding: var(--padding);
	}
	
	.sign {
	width : 90px;
	height : 30px;
	border-style : groove;
	border-radius : 10%;
	}
	.login {
	width : 90px;
	height : 30px;
	border-style : groove;
	border-radius : 10%;
	}
	