@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	padding: var(--padding);
}

h1 {
	text-align: center;
	margin: 20px 0;
}

form div {
	display: inline-block;
}

span {	
	display: inline-block;
	width: 160px;
}

aside {
	display: flex;
}

.section1 {
	display: table; 
	margin-left: auto;
	margin-right: auto;
}

.section2 {
	display: flex;
	align-items: center;
    justify-content: center;
	height: 100%;
	border: 1px solid black;
	padding: 15px 20px;
}

.section3 {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	height: 100%;
	border: 1px solid black;
	padding: 15px 20px;
}

.section4 {
	display: flex;
	align-items: center;
    justify-content: center;
	height: 10%;
	border: 1px solid black;
	padding: 15px 20px;
}


.form-box1 {
	width: 100%;
	height: 35%;
	border: 1px solid blue;
	padding: 15px 20px;
}

.form-box2 {
	width: 65%;
	height: 100%;
	border: 1px solid blue;
	padding: 15px 20px;
}

.logo {
	width: 80px;
	height: 80px;
	background-image: url('s-member/image/logo.png');
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 40px;
}       

.wrapper-sideicon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 80px;
}

.sideicon1 {
	margin: 0  10px;
}

.sideicon2 {
	width : 90px;
	height : 30px;
	border-style : groove;
	border-radius : 10%;
	margin: 0  10px;
}

.mInputButton {
	text-align : center;
	width : 150px;
	height : 70px;
	border-style : groove;
	border-radius : 7%;
}

.mboard{ 
	border-style : groove;
	width: 400px;
	height : 120px;
	text-align : center;
	border-radius : 5%;
}

.wrapper {
	height: 100%;
	widdth: 90%;
}

.wrapper-submit {
		width: 100%;
		text-align: center;
		margin: 10px 0 50px 0;
	}
	
		.wrapper-submit > input {
			width: 20%;
			margin: 20px 30px;
		}
		
#id, #phone, #email, #kakao, #field, #career,
#worktype, #locateion, #pay, #period,
#available {
	width: 400px;
}

#lang div  {
	width: 530px
}

#lang label  {
	margin-right: 15px;
	width: 120px;
} 

#pfdetail input, #introduce input,
#projectdetail input {
	width:500px;
    height:150px;
}

#portfolio, #employtype, #projecttype {
	width: 100%;
}

#introduce {
	margin-bottom: 30px;
}
